.home__body {
    --bg-grd-clr-left: #e8cdad;
    --bg-grd-clr-right: #89695d;
    
    --btn-txt-clr: #f1e2d0;
    --btn-bg-clr-unfocused: #3e241380;
    --btn-bg-clr-focused: #3d2413;
    
    --ipt-txt-clr: #f8f6f3;
    --ipt-placeholder-clr: #f1e2d0;
    --ipt-bg-clr-unfocused: #3e24134d;
    --ipt-bg-clr-focused: #3e24139e;
    
    --bg-box-clr: #3d2413;
    --ic-clr: #3d2413;
    --ic-clr-hover: #f1e2d0b3;
    --txt-clr: #3d2413;
    --txt-clr-hover: #f1e2d0;
    
    --brdr-rad: 10px;

    /* --outline-clr: #171412;
    --outline: 2px solid var(--outline-clr); */

    --transition: color 0.3s ease, background-color 0.3s ease;

    font-family: 'Poppins Regular';
    color: var(--txt-clr);
    
    background-image: 
        linear-gradient(to right, var(--bg-grd-clr-left), var(--bg-grd-clr-right));

}

.home__body * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.home__header {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4%;
    flex-wrap: wrap;
    padding: 1rem;
}

.home__logo-wrapper {
    flex: 0.2 1 150px; 
}

.home__logo {
    width: 100%;
    height: auto;
}

.home__nav {
    flex: 2 1 auto;
}

.home__nav-list {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    gap: 5%;
    flex-wrap: wrap;
}

.home__nav-link {
    text-decoration: none;
    color: inherit;
    font-size: min(1rem, 3vw);
    text-align: center;
    transition: var(--transition);
}

.home__nav-link:focus {
    color: var(--txt-clr-hover);
}

.home__nav-link:hover {
    color: var(--txt-clr-hover);
}

.account-button {
    border: none;
    background: none;
}

.account-button__icon {
    width: 100%;
    height: auto;
    font-size: 70px;
    color: var(--ic-clr);
    transition: var(--transition);
    cursor: pointer;
}

.account-button__icon:hover {
    color: var(--ic-clr-hover);
}

.home__menu-icon {
    display: none;
    margin-top: -0.5rem;
    font-size: 2rem;
    cursor: pointer;
    transition: var(--transition);
}

.home__dropdown {
    width: 100dvw;
    height: 100dvh;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    top: 0;
    left: 0;
    background-color: var(--bg-box-clr);
    color: var(--ipt-placeholder-clr);
    padding: 1rem;

    transform: translateY(-100%);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
    z-index: 1000;
}

.home__dropdown.active {
    transform: translateY(0);
    opacity: 1;
}

.home__dropdown-link {
    color: var(--btn-txt-clr);
    font-size: 1.5rem;
    text-decoration: none;
    font-family: 'Poppins Medium';
    transition: color 0.3s ease;
}

.home__dropdown-link:hover {
    color: var(--txt-clr-hover);
}

.home__dropdown-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: none;
    border: none;
    color: var(--btn-txt-clr);
    font-size: 2rem;
    font-family: 'Poppins Medium';
    cursor: pointer;
    transition: color 0.3s ease;
}

.home__dropdown-close:hover {
    color: var(--txt-clr-hover);
}

.home__main {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.home__main-header, .home__main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.home__main-title {
    font-family: 'Poppins Bold';
    font-size: clamp(2.5rem, 4vw, 5rem);
    text-wrap: balance;
    text-align: center;
}

.home__main-subtitle {
    font-family: 'Poppins Medium';
    font-size: clamp(1rem, 2vw, 1.5rem);
}

.home__main-description {
    text-align: center;
    text-wrap: balance;
    font-size: clamp(0.9rem, 1.62vw, 1.25rem);
}

.home__form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.home__input-container {
    position: relative;
}

.home__form-input {
    width: clamp(235px, 33vw, 460px);
    border: none;
    border-radius: var(--brdr-rad);
    background-color: var(--ipt-bg-clr-unfocused);
    color: var(--ipt-txt-clr);
    font-family: inherit;
    font-size: 1rem;
    padding-top: 1.35em;
    padding-left: 1em;
    padding-bottom: 1em;
    transition: var(--transition);
}

.home__form-label--floating {
    position: absolute;
    top: 1.05rem;
    left: 1rem;
    font-size: 1rem;
    color: var(--ipt-placeholder-clr);
    pointer-events: none;
    transition: all 0.3s ease;
}

.home__form-input:focus + .home__form-label--floating,
.home__form-input:not(:placeholder-shown) + .home__form-label--floating {
    top: 4px;
    left: 16px;
    font-size: 0.8rem;
    color: var(--txt-clr-hover);
}

.home__form-button {
    width: clamp(235px, 35vw, 250px);
    border: none;
    border-radius: var(--brdr-rad);
    background-color: var(--btn-bg-clr-unfocused);
    color: var(--btn-txt-clr);
    font-family: inherit;
    font-size: 1rem;
    padding: 1em;
    transition: var(--transition);
    cursor: pointer;
}

.home__form-button:focus {
    background-color: var(--btn-bg-clr-focused);
}

.home__form-button:hover {
    background-color: var(--btn-bg-clr-focused);
}


@media (width <= 600px) {
    .home__nav,
    .account-button {
        display: none;
    }

    .home__menu-icon {
        display: block;
    }
}