:root {
  --grad-color-left: #e8cdad;
  --grad-color-right: #89695D;

  --clr-brown: #573721;
  --clr-light-brown: #ad724a;
  --clr-dark-brown: #312117;
  --clr-brown-btn: #c0a484;

  --clr-white: #fff1e2;
}

@font-face {
  font-family: 'Feeling Passionate';
  src: url(/fonts/Feeling\ Passionate.otf);
}

@font-face {
  font-family: 'Glacial Indifference Regular';
  src: url(/fonts/GlacialIndifference-Regular.otf);
}

@font-face {
  font-family: 'Glacial Indifference Bold';
  src: url(/fonts/GlacialIndifference-Bold.otf);
}

@font-face {
  font-family: 'Glacial Indifference Italic';
  src: url(/fonts/GlacialIndifference-Italic.otf);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Glacial Indifference Regular';
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--clr-light-brown);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--clr-brown);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--clr-dark-brown);
}