:root {
	--grad-color-left: #e8cdad;
	--grad-color-right: #89695d;

	--clr-white: #fff1e2;
	--clr-black: #19181879;

	--clr-brown: #573721;
	--clr-light-brown: #ad724a;
	--clr-dark-brown: #312117;
	--clr-brown-btn: #c0a484;

	--bg-grd-clr-left: #e8cdad;
	--bg-grd-clr-right: #89695d;

	--btn-txt-clr: #f1e2d0;
	--btn-bg-clr-unfocused: #3e241380;
	--btn-bg-clr-focused: #3d2413;

	--ipt-txt-clr: #f8f6f3;
	--ipt-placeholder-clr: #f1e2d0;
	--ipt-bg-clr-unfocused: #3e24134d;
	--ipt-bg-clr-focused: #3e24139e;

	--bg-box-clr: #3d2413;
	--bg-fsa: #a9876ffe;

	--ic-clr: #3d2413;
	--ic-clr-hover: #f1e2d0b3;
	--txt-clr: #3d2413;
	--txt-clr-hover: #f1e2d0;

	--brdr-rad: 10px;

	--outline-clr: #f1e2d0;
	--outline: 3px solid var(--outline-clr);

	--transition: color 0.3s ease, background-color 0.3s ease;
}

@font-face {
	font-family: "Poppins Regular";
	src: url(./assets/fonts/Poppins-Regular.ttf);
}

@font-face {
	font-family: "Poppins Medium";
	src: url(./assets/fonts/Poppins-Medium.ttf);
}

@font-face {
	font-family: "Poppins Bold";
	src: url(./assets/fonts/Poppins-Bold.ttf);
}

:focus-visible {
	outline: var(--outline);
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Poppins Regular", sans-serif;
	color: var(--txt-clr);
}

html {
	background-image: linear-gradient(
		to right,
		var(--bg-grd-clr-left),
		var(--bg-grd-clr-right)
	);
}

a {
	text-decoration: none;
	color: inherit;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: var(--clr-light-brown);
	background: #a9876ffe;
}

::-webkit-scrollbar-thumb {
	background: var(--clr-brown);
}

::-webkit-scrollbar-thumb:hover {
	background: var(--clr-dark-brown);
}
