.about__body {
    background-image: url(../../assets/bg_main_home.svg);
    background-color: var(--bg-grd-clr-left);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    color: var(--clr-dark-brown);
    overflow: hidden;
}

.about__body--left {
    width: 80%;
    height: 100%;
}

.about__body--right {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 2rem;
    transition: all 0.3s ease-in-out;
}

.about__body--right h1 {
    font-size: 6rem;
    font-family: 'Glacial Indifference Bold';
    transition: font-size 0.3s ease-in-out;
}

.about__body--right p {
    font-size: 1.5rem;
}

.about__body--right .home__button {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    gap: 1rem;
}

.about__body--right .home__button .home__btn {
    width: 10%;
}

.about__body--right .home__button .abt__logo {
    width: 30%;
}

@media (width <= 1000px) {
    .about__body {
        background-image: url(../../assets/bg_about_m.svg);
        background-color: var(--bg-grd-clr-left);
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: unset;
        background-position-x: center;
    }
    .about__body--left {
        display: none;
    }
    
    .about__body--right p {
        font-size: 1.6rem;
    }
}

@media (width <= 467px) {
    .about__body--right {
        align-items: center;
    }

    .about__body--right h1 {
        font-size: 5rem;
        margin: 0;
    }

    .about__body--right .home__button .home__btn {
        width: 20%;
    }

    .abt__logo {
        display: none;
    }
}