.homepageBody {
    background: #e8cdad url(../../assets/bg_main.svg) center/cover no-repeat fixed;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.homepageBody * {
    -webkit-user-drag: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Glacial Indifference Regular';
    font-size: 1.2rem;
    transition: all 0.4s ease;
}

.homepageBody button {
    background: none;
    border: none;
    cursor: pointer;
}

.mainHeader {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2.5rem;
}

.mainHeader .regexForm {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
}

.mainHeader .regexForm input {
    background-color: #3d2413;
    width: 25.5vw;
    height: 6vh;
    border-radius: 10px;
    border: none;
    outline: none;
    text-align: center;
    color: #fff1e2;
}

.mainHeader input::placeholder {
    color: #e8cdad;
}

.mainHeader input:focus::placeholder {
    color: #fff1e2;
}

.mainHeader input:focus {
    box-shadow: 0 0 1.5rem #312117; 
}

.convertIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 100%;
    padding: 0.2rem;
}

.convertIcon img {
    width: 1.3vw;
}

.convertIcon:hover {
    background-color: #fff1e2;
}

.previousConversionButton a {
    text-decoration: none;
    padding: 0.3rem;
    border-radius: 20px;
    color: #312117;
}

.previousConversionButton a:hover {
    background-color: #312117;
    color: #fff1e2;
}

.mainHeader .accountIcon {
    margin: 1rem 1rem 0 0;
}

.homeMainPage {
    margin-top: -6vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.5rem;
}

.homeMainPage .headerFSA {
    width: 50%;
}

.homeMainPage .displayFSA {
    width: 52vw;
    height: 62vh;
    background-color: #3d2413;
    border-radius: 15px;
    margin-top: -3vh;
    box-shadow: 0 0 0.8rem var(--clr-dark-brown); 
}

.homeMainPage .saveButton {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    color: #3d2413;
    padding: 0.3rem;
    border-radius: 20px;
}

.homeMainPage .saveButton img {
    width: 2.5vw;
}

.homeMainPage .saveButton:hover {
   color: #fff1e2;
   background-color: #312117;
}
