.loginBody {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to right, var(--grad-color-left), var(--grad-color-right));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logoNameL {
    margin: 0;
    font-family: 'Feeling Passionate';
    font-size: 6rem;
    color: var(--clr-brown);
}

.loginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 60vh;
    border-radius: 2rem;
    border: 3px solid black;
}

.loginTitle {
    margin: 0;
    font-family: 'Feeling Passionate';
    font-size: 6rem;
    color: var(--clr-dark-brown);
}

.loginP {
    color: var(--clr-brown);
    font-family: 'Glacial Indifference Regular';
    font-size: 2rem;
    margin: 0;
}

.loginInput {
    border-radius: 5rem;
    border: 3px solid black;
    background-color: transparent;
    width: 60%;
    height: 8%;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.3rem;
    color: var(--clr-dark-brown);
}

.loginInput:focus {
    outline: none;
}

.loginP.signupSwitch {
    font-family: 'Glacial Indifference Regular';
    margin-top: 1vh;
    font-size: 1.5rem;
    color: var(--clr-dark-brown);
    justify-content: center;
}

.loginP.signupSwitch .signSwitchBtn {
    font-family: 'Glacial Indifference Bold';
    color: var(--clr-brown);
    text-decoration: none;
}

.loginP.signupSwitch .signSwitchBtn:hover {
    font-family: 'Glacial Indifference Bold';
    color: var(--clr-light-brown);
    cursor: pointer;
    text-decoration: none;
}