.loginBody {
    width: 100vw;
    height: 100vh;
    background-image: url(../../assets/bg_login.svg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.logoL {
    margin-right: 4vw;
    margin-top: 1vh;
    margin-bottom: 2vh;
    width: 350px;
    height: 200px;
    object-fit: contain;
}

.loginForm {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;
    width: 37vw;
    height: 60vh;
    margin-right: 4vw;
}

.loginTitle {
    margin: 0;
    font-family: 'Glacial Indifference Bold';
    font-size: 4rem;
    color: var(--clr-brown);
}

.loginP {
    width: 68%;
    color: var(--clr-brown);
    font-family: 'Glacial Indifference Regular';
    font-size: 1.5rem;
    margin: 0;
}

.loginInput {
    font-family: 'Glacial Indifference Regular';
    border-radius: 5px;
    border: 1.5px solid black;
    background-color: transparent;
    width: 22vw;
    height: 8%;
    margin-bottom: 10px;
    padding-left: 33px;
    padding-right: 10px;
    font-size: 1rem;
    color: var(--clr-dark-brown);
}

.loginInput:focus {
    outline: none;
}

.loginInput.usrnmLogin {
    background-image: url(../../assets/ic_acc.svg);
    background-repeat: no-repeat;
    background-position: 3%;
    background-size: 16px 16px;
}

.loginInput.passLogin {
    background-image: url(../../assets/ic_pass.svg);
    background-repeat: no-repeat;
    background-position: 3%;
    background-size: 16px 16px;
}

.submitLoginBtn {
    width: 68%;
    height: 10%;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    background-color: var(--clr-brown-btn);
    border-radius: 5px;
    border: none;
    color: var(--clr-brown);
    font-family: 'Glacial Indifference Regular';
    font-size: 1.25rem;
    transition: all 0.25s ease-in-out;
}

.submitLoginBtn:hover {
    cursor: pointer;
    background-color: var(--clr-brown);
    color: var(--clr-brown-btn);
}

.loginP.signupSwitch {
    font-family: 'Glacial Indifference Regular';
    margin-top: 1.5vh;
    font-size: 1rem;
    color: var(--clr-dark-brown);
    justify-content: center;
    text-align: center;
    width: 68%;
}

.loginP.signupSwitch .signSwitchBtn {
    color: var(--clr-brown);
    text-decoration: none;
    transition: color 0.15s ease-in-out;
}

.loginP.signupSwitch .signSwitchBtn:hover {
    color: var(--clr-light-brown);
}

.conSwitchBtnL {
    font-family: 'Glacial Indifference Bold';
    color: var(--clr-brown);
    text-decoration: none;
    text-align: center;
    width: 68%;
}

.conSwitchBtnL:hover {
    font-family: 'Glacial Indifference Bold';
    color: var(--clr-light-brown);
    cursor: pointer;
    text-decoration: none;
}

@media (max-width: 600px) {
    .loginBody {
        background-image: none;
        background-color: var(--grad-color-left);
        align-items: center;
        margin-right: 0;
        overflow: hidden;
    }

    .logoL {
        margin-top: 15vh;
        margin-bottom: 2vh;
        margin-left: 6vw;
        width: 100%;
        height: 100px;
    }
    
    .loginForm {
        width: 100%;
        height: 100%;
        align-items: center;
        margin-right: 0;
    }
    
    .loginTitle {
        font-size: 3rem;
        width: 100%;
        text-align: center;
    }
    
    .loginP {
        width: 70%;
        font-size: 1.5rem;
        margin: 0;
    }
    
    .loginInput {
        width: 60%;
        height: 10%;
        font-size: 1.3rem;
    }

    .submitLoginBtn {
        width: 72%;
        height: 12%;
        font-size: 1.5rem;
    }

    .loginP.signupSwitch {
        width: 72%;
    }

    .conSwitchBtnL {
        width: 72%;
    }
}

@media (min-width: 601px) and (max-width: 768px) {
    .loginBody {
        background-image: url(../../assets/bg_log_768.svg);
        background-size: cover;
        background-position: -25vw;
    }

    .logoL {
        margin-right: 8vw;
        margin-top: 15vh;
        margin-bottom: 2vh;
        width: 250px;
        height: 100px;
    }
    
    .loginForm {
        width: 50vw;
        height: 60vh;
    }
    
    .loginTitle {
        font-size: 3rem;
    }
    
    .loginP {
        width: 72%;
        font-size: 1.5rem;
        margin: 0;
    }
    
    .loginInput {
        width: 60%;
        height: 10%;
        font-size: 1.3rem;
    }

    .submitLoginBtn {
        width: 72%;
        height: 12%;
        font-size: 1.5rem;
    }

    .loginP.signupSwitch {
        width: 72%;
    }

    .conSwitchBtnL {
        width: 72%;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .logoL {
        margin-right: 4vw;
        margin-top: 15vh;
        margin-bottom: 2vh;
        width: 250px;
        height: 100px;
    }
    
    .loginForm {
        width: 50vw;
        height: 60vh;
        margin-right: 4vw;
    }
    
    .loginTitle {
        font-size: 3rem;
    }
    
    .loginP {
        width: 67%;
        font-size: 1.5rem;
        margin: 0;
    }
    
    .loginInput {
        width: 58%;
        height: 10%;
        font-size: 1.3rem;
    }

    .submitLoginBtn {
        width: 67%;
        height: 12%;
        font-size: 1.5rem;
    }

    .loginP.signupSwitch {
        width: 67%;
    }

    .conSwitchBtnL {
        width: 67%;
    }
}